$header-color: #060B73;


header {
  background-color: $header-color; 
  color: white;
  height: 50px;
  display: flex; 
  justify-content: center;
  align-items: center;  
  font-size:18px;
  position: fixed; 
  width: 100%;
  z-index: 12; 
}

