.results-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  border-top: 1px solid gray;
  overflow: hidden;
  width: 100%;
  max-width: 1000px; 
}

.result-item {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 15px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  width: 100%;
  max-width: 1000px;
  img {
    width: 100px;
  }
}


@media only screen and (max-width: 660px) {
  .result-item {
    img {
      width: 75px; 
    }
  }
}

.result-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-size: 18px;
  margin-left: 15px;
  * {
    // padding: 3px 0;
  }
}

.breach-date {
  padding: 10px 0; 
}

.description {
  padding: 7px 0;
}

// .result-text:hover .description {
//   display: block;
// }
// .description {
//   display: none;
// }



.Title {
  font-size: 32px;
}

.description { 
  padding-top: 10px; 
  padding-bottom: 20px; 
  letter-spacing: 1.25px; 
  word-spacing: 2px;
}

.data-classes-text {
  display: inline; 
}

.data-classes-info {
  display: inline; 
}

@media only screen and (max-width: 1280px) {
  .result-text {
    font-size: 18px;
  }
  .Title {
    font-size: 28px;
  }
}


@media only screen and (max-width: 660px) {
  .data-classes-info {
    display: block; 
    padding-top:3px;
  }
  .result-text {
    font-size: 13px;
  }

  .Title {
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}
