.results-index {
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  margin-top: 30px; 
}

.result-item {
  display: flex;
  justify-content: left;
  align-items: left; 
  margin-top: 10px;
  width: 100%; 
  .logo-container {
    border: 1px solid red; 
  }
  img {
    width: 75px;
  }
}

.result-text {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  text-align: left; 
  font-size: 13px; 
  margin-left: 15px; 
  * {
    padding: 3px;
  }
}

.hidden {
  display: none;
}