.results-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 30px 50px 28px 50px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
@media only screen and (max-width: 660px) {
 .results-index{
   margin-left: 0px;
   margin-right: 0px; 
   padding-left:0px;
   padding-right:0px; 
 }
}

.result-item {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-top: 15px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding-left: 20px;
  img {
    width: 100px;
    min-width: 100px;
  }
}
.result-item:first-child {
  border-top: 1px solid gray;
}

.result-item:hover {
  box-shadow: 0 0 12px #2e3060;
  cursor: pointer;
}

@media only screen and (max-width: 660px) {
  .result-item {
    img {
      width: 75px;
      min-width:75px; 
    }
  }
}

.result-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-size: 18px;
  margin-left: 15px;
}

.breach-date {
  padding: 10px 0;
}

.Title {
  font-size: 32px;
}

.description {
  letter-spacing: 1.25px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-style: italic;
  word-spacing: 2px;
  overflow: hidden;
  transition: height 0.4s ease-in;
  font-style: italic; 
  height: auto;
}

.hidden {
  height: 0px !important;
  transition: height 0.4s ease-in;
}

.show {
}

.data-classes-text {
  display: inline;
}

.data-classes-info {
  display: inline;
}

@media only screen and (max-width: 1280px) {
  .result-text {
    font-size: 18px;
  }
  .Title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 660px) {
  .data-classes-info {
    display: block;
    padding-top: 3px;
  }
  .result-text {
    font-size: 13px;
  }

  .Title {
    font-size: 20px;
  }
}