.results-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  border-top: 1px solid gray;
  overflow: hidden;
}

.result-item {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 15px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  width: 100%;
  max-width: 900px;
  img {
    width: 75px;
  }
}

.description {
  padding: 7px 0;
}

// .result-text:hover .description {
//   display: block;
// }
// .description {
//   display: none;
// }

.result-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 18px;
  margin-left: 15px;
  * {
    padding: 3px 0;
  }
}

.Title {
  font-size: 32px;
}

@media only screen and (max-width: 1280px) {
  .result-text {
    font-size: 18px;
  }
  .Title {
    font-size: 28px;
  }
}

@media only screen and (max-width: 660px) {
  .result-text {
    font-size: 13px;
  }

  .Title {
    font-size: 20px;
  }
}

.hidden {
  display: none;
}

.show {
  display: block;
}
