@import "Results"; 

.search-container {
  margin: 0 20px;
	box-sizing: border-box; 
	display: flex;
	flex-direction:column; 
	justify-content: center;
	align-items: center; 
}

.search-bar {
  width: 100%;
	display: flex; 
	max-width: 435px;
}

.search-text{
  width:100%; 
	padding: 15px 0 15px 20px;
	font-size: 15px;
	border: 0 none;
	height: 50px;
	margin-right: 0;
	color: white;
	outline: none;
	background: lightgray;
	box-sizing: border-box;
  transition: all 0.15s;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-text:focus {
	background: rgb(64, 151, 119);
}

.search-button {
  width: 60px; 
	border: 0 none;
	background: lightgray url(../../assets/images/search.png) center no-repeat;
	float: left;
	padding: 0;
	text-align: center;
	height: 50px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}