.footer {
  background-color: black;
  color: white;
  height: 30px;
  font-size: 14px;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
