/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: scandia-regular;
  src: url("../../assets/font/Scandia-Regular.otf"); }
@font-face {
  font-family: scandia-bold;
  src: url("../../assets/font/Scandia-Bold.otf"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: scandia-regular;
  font-family: scandia-regular;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: scandia-regular; }

.App {
  text-align: center;
  overflow: auto; }

.content {
  position: absolute;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; }

.animated {
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

header {
  background-color: #060B73;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: fixed;
  width: 100%;
  z-index: 12; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 32px;
  margin: 50px 20px;
  z-index: 10; }

.results-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 30px 20px 0 20px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px; }

.result-item {
  display: flex;
  justify-content: left;
  align-items: left;
  padding-top: 15px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
  padding-left: 20px; }
  .result-item img {
    width: 100px;
    min-width: 100px; }

.result-item:first-child {
  border-top: 1px solid gray; }

.result-item:hover {
  box-shadow: 0 0 12px #2e3060;
  cursor: pointer; }

@media only screen and (max-width: 660px) {
  .result-item img {
    width: 75px; } }
.result-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  font-size: 18px;
  margin-left: 15px; }

.breach-date {
  padding: 10px 0; }

.description {
  padding: 7px 0; }

.Title {
  font-size: 32px; }

.description {
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 1.25px;
  margin-right: 20px;
  word-spacing: 2px;
  overflow: hidden;
  transition: height 0.3s ease-out;
  transition: padding 0.5s ease-out;
  height: auto; }

.data-classes-text {
  display: inline; }

.data-classes-info {
  display: inline; }

@media only screen and (max-width: 1280px) {
  .result-text {
    font-size: 18px; }

  .Title {
    font-size: 28px; } }
@media only screen and (max-width: 660px) {
  .data-classes-info {
    display: block;
    padding-top: 3px; }

  .result-text {
    font-size: 13px; }

  .Title {
    font-size: 20px; } }
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown; }

.hidden {
  height: 0px;
  padding: 0; }

.search-container {
  margin: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.search-bar {
  z-index: 20;
  box-sizing: border-box;
  width: 90%;
  display: flex;
  max-width: 435px;
  position: absolute;
  top: 190px;
  left: 50%;
  transform: translate(-50%, -50%); }
  .search-bar input {
    transition: width 0.2s;
    -webkit-appearance: none; }
  .fix-search .search-bar {
    position: fixed;
    top: 24px; }

.search-text {
  width: 100%;
  padding: 15px 0 15px 20px;
  font-size: 15px;
  border: 0 none;
  height: 40px;
  margin-right: 0;
  color: black;
  outline: none;
  border: 1px solid lightgray;
  box-sizing: border-box;
  transition: all 0.15s;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 8px 6px -8px black; }

.search-text:focus {
  box-shadow: 0 8px 6px -6px black; }

.search-button {
  width: 60px;
  border: 0 none;
  background: #d97900 url(../../assets/images/search.png) center no-repeat;
  float: left;
  padding: 0;
  text-align: center;
  height: 40px;
  cursor: pointer;
  box-shadow: 0 8px 6px -6px black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  .search-button:hover {
    box-shadow: 0 0 9px #2e3060; }

/*# sourceMappingURL=index.css.map */
