/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: scandia-regular;
  src: url("../../assets/font/Scandia-Regular.otf"); }
@font-face {
  font-family: scandia-bold;
  src: url("../../assets/font/Scandia-Bold.otf"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: scandia-regular;
  font-family: scandia-regular;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: scandia-regular; }

.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
header {
  background-color: #25274D;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  font-size: 28px;
  margin: 0 20px; }

.results-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px; }

.result-item {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 10px;
  width: 100%; }
  .result-item .logo-container {
    border: 1px solid red; }
  .result-item img {
    width: 75px; }

.result-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 13px;
  margin-left: 15px; }
  .result-text * {
    padding: 3px; }

.hidden {
  display: none; }

.search-container {
  margin: 0 20px;
  box-sizing: border-box; }

.search-bar {
  width: 100%;
  display: flex; }

.search-text {
  width: 100%;
  padding: 15px 0 15px 20px;
  font-size: 15px;
  border: 0 none;
  height: 50px;
  margin-right: 0;
  color: white;
  outline: none;
  background: lightgray;
  box-sizing: border-box;
  transition: all 0.15s;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.search-text:focus {
  background: #409777; }

.search-button {
  width: 60px;
  border: 0 none;
  background: lightgray url(../../assets/images/search.png) center no-repeat;
  float: left;
  padding: 0;
  text-align: center;
  height: 50px;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }

/*# sourceMappingURL=index.css.map */
